* {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: none;
}

input,
output {
    border: none;
    background: none;
    outline: none;
}

input,
output:focus {
    outline: none;
}

/* ====================================================== main */

.container {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Raleway";
}
